/* :root and fonts */
@import url(https://fonts.googleapis.com/css?family=Cinzel);
@import url(https://fonts.googleapis.com/css?family=Maven+Pro);
:root {
	--main-bg-color: #18181E;
	--second-bg-color: #E1E2E2;
	--third-bg-color: #D48166;
	--fo-bg-color: #686673;
}
/* Body and main structures of html */
body {
	color: #292929;
	font: 1rem/1.7 'Amiri', serif;

}
#landing{
	background: #E1E2E2;
	overflow: hidden;
	margin-bottom: 10rem;
}
/* Font work with h1 and p, pre and other text holders */
h1 {
	font: bold 5.5rem/1 'Cinzel', serif;
	margin: 0 0 20px 0;
	position: relative;
	color: #D48166;
	transform: uppercase;
}
pre{
	color: var(--second-bg-color);
}
hr{
	background: var(--second-bg-color);
}
p {
	font: 1.3rem/2 'Maven Pro', sans-serif;
	margin: 0 0 2em 0;
}
.container-fluid {
	overflow: hidden;
}
.button {
	display: inline-block;
	color: black;
	text-decoration: none;
	background: #696773;
	padding: .8em 1.5em;
}
/* Style of left part of first section #landing it includes styles for all img_divs and handle the glitch part of js */
.img1 {
	background: var(--main-bg-color);
	height: 10vh;
	box-shadow: 0 1px 1px rgba(0,0,0,0.11),0 2px 2px rgba(0,0,0,0.11),0 4px 4px rgba(0,0,0,0.11),0 8px 8px rgba(0,0,0,0.11),0 16px 16px rgba(0,0,0,0.11),0 32px 32px rgba(0,0,0,0.11);
}
.grid {
	display:grid;
	height: 90%;
	overflow: auto;
	grid-template-columns: 1fr 1fr 6fr 1fr 1fr 10fr 10fr;
	grid-template-rows: 30px 100px 200px 100px 15px 450px 15px;
	overflow-y: hidden;
	overflow-x: hidden;
}
.img2 {
	background: var(--second-bg-color);
	height: 90vh;
	box-shadow: 0 1px 1px rgba(0,0,0,0.11),0 2px 2px rgba(0,0,0,0.11),0 4px 4px rgba(0,0,0,0.11),0 8px 8px rgba(0,0,0,0.11),0 16px 16px rgba(0,0,0,0.11),0 32px 32px rgba(0,0,0,0.11);
}
.img3{
	grid-column: 7 / span 1;
	grid-row: 6 / span 1;
	overflow:hidden;
	position:relative;
}
.img4{
	background: var(--third-bg-color);
	overflow: hidden;
	grid-column: 1 / span 7;
	grid-row: 7 / span 1;
	box-shadow: 0 1px 1px rgba(0,0,0,0.11),0 2px 2px rgba(0,0,0,0.11),0 4px 4px rgba(0,0,0,0.11),0 8px 8px rgba(0,0,0,0.11),0 16px 16px rgba(0,0,0,0.11),0 32px 32px rgba(0,0,0,0.11);
}
.img5{
	margin-top: -2rem;
	overflow: hidden;
	grid-column: 4 / span 7;
	grid-row: 2 / span 1;
	text-align: left !important;
}
.img6 {
	margin-top: 20rem;
	grid-column: 1 / span 6;
	grid-row: 5/ span 1;
	text-align: left !important;
}
.img6 pre {
	margin-top: 2rem;
	margin-left: -5rem;
}
.img7 {
	background: var(--third-bg-color);
	overflow-y: hidden;
	overflow-x: hidden;
	width: 95%;
	margin-left:15px;
	grid-column: 7 / span 1;
	grid-row: 5 / span 1;
}
.img8{
	background: var(--third-bg-color);
	grid-column: 4 / span 3;
	grid-row: 3/ span 3;
	overflow:hidden;
}
.img8 pre{
	color: var(--first-bg-color);
	margin-left: 5rem;
	margin-top: -6rem;
	writing-mode: vertical-rl;
	overflow: hidden;
	font-size: 10px;
}
.img9{
	grid-column: 2 / span 3;
	grid-row: 3/ span 4;
	margin-top: 4rem;
	margin-left: 5rem;
	height: 45%;
	background: var(--second-bg-color);
	opacity: 0.9;
	overflow-y: hidden;
	overflow-x: hidden;
}
.img9 hr{
	margin-top: 20rem;
}
.img10{
	overflow-y: hidden;
	overflow-x: hidden;
	background: #7E7B89;
	width: 50%;
	height: 30%;
	opacity: 0.8;
	grid-column: 6 / span 4;
	grid-row: 5 / span 2;
}
.img11{
	overflow-y: hidden;
	overflow-x: hidden;
	background: var(--third-bg-color);
	margin-left: 10rem;
	margin-top: 10rem;
	width: 30%;
	height: 30%;
	grid-column: 7 / span 1;
	grid-row: 3 / span 2;
}
.img-bg {
	overflow-y: hidden;
	overflow-x: hidden;
	overflow:hidden;
	grid-column: 3 / span 4;
	grid-row: 5 / span 2;
}
.img-bg img{
	margin-top: 10rem;
	height: 100%;
	width: 100%;
}
/* Cubes are not used for now */
.cube1{
	background: var(--third-bg-color);
	grid-column: 1 / span 1;
	grid-row: 1/ span 1;
}
.cube2 {
	background: var(--third-bg-color);
	grid-column: 1 / span 2;
	grid-row: 5/ span 1;
}
/* CSS FOR RIGHT PART OF FIRST SECTION */
/* Grid */
.grid1{
	display:grid;
	height: 100%;
	overflow: auto;
	grid-template-columns: 5fr 5fr 10fr 3fr 5fr;
	grid-template-rows: 125px 320px 350px 100px 15px;
}
/* Division style on right part of grid */
.r_img5{
	background: var(--third-bg-color);
	overflow: hidden;
	grid-column: 1 / span 5;
	grid-row: 5 / span 1;
	box-shadow: 0 1px 1px rgba(0,0,0,0.11),0 2px 2px rgba(0,0,0,0.11),0 4px 4px rgba(0,0,0,0.11),0 8px 8px rgba(0,0,0,0.11),0 16px 16px rgba(0,0,0,0.11),0 32px 32px rgba(0,0,0,0.11);
}
.r_img1 {
	grid-column: 1/ span 5;
	grid-row: 3/ span 1;
}
.r_img2{
	background: #696773;
	background-size: cover;
	grid-column: 3 / span 1;
	grid-row: 2 / span 1;
	overflow: hidden;
}
.r_img3{
	background: var(--third-bg-color);
	background-size: cover;
	width: 30%;
	height: 40%;
	margin-left: 15rem;
	margin-top: 5rem;
	grid-column: 3 / span 2;
	grid-row: 1 / span 2;
	opacity: 0.7;
	overflow: hidden;
}
/* Bio section */
.minibio {
	margin-top: 10rem;
	grid-column: 1 / span 5;
	grid-row: 3 / span 1;
	overflow-y: hidden;
	overflow-x: hidden;
}
/* r_img4 and button is not used for now */
.button{
	width: 50px;
	height: 50px;
	margin-left: 5rem;
	grid-column: 3 / span 1;
	grid-row: 4 / span 1;
	opacity: 0.8;
}
.r_img4{
	background: var(--third-bg-color);
	width: 50px;
	height: 50px;
	margin-top: 2rem;
	margin-left: 7rem;
	grid-column: 3 / span 1;
	grid-row: 4 / span 1;
	opacity: 1;
	overflow: hidden;
}
/* #about me Style and other css for related to the section aboutme */
.grid2 {
	display:grid;
	overflow: auto;
	grid-template-columns: 5fr 10fr 10fr 10fr 10fr 5fr;
	grid-template-rows: 30px 100px 200px 330px 100px 200px;
	overflow-y: hidden;
	overflow-x: hidden;
}
.about_1 {
	height: 90vh;
}
.about_2 {
	background: var(--fo-bg-color);
	background-size: cover;
	grid-column: 3 / span 1;
	grid-row: 3 / span 2;
	margin-left: 2rem;
	height: 100%;
	overflow: hidden;
}
.about_3 {
	background: url('/static/images/ovoj.png') no-repeat;
	background-size: contain;
	margin-left: 10rem;
	margin-top: 5rem;
	grid-column: 3 / span 2;
	grid-row: 2 / span 3;
	overflow: hidden;
}
.about_4 {
	grid-column: 4 / span 3;
	grid-row: 1 / span 2;
}
.about_5 {

	grid-column: 5/ span 2;
	grid-row: 3 / span 2;

}
.about_6 {
	width: 47.1% ;
	height:60%;
	margin-left: 2rem;
	overflow: hidden;
	background: var(--third-bg-color);
	grid-column: 3 / span 3;
	grid-row: 5 / span 1;
	box-shadow: 0 1px 1px rgba(0,0,0,0.11),0 2px 2px rgba(0,0,0,0.11),0px 4px 4px rgba(0,0,0,0.11),0 8px 8px rgba(0,0,0,0.11),0 16px 16px rgba(0,0,0,0.11),0 32px 32px rgba(0,0,0,0.11);
}
.about_6 p {
	font: .9em/2 'Cinzel', serif;
	margin-bottom: -0.2rem;
}
.about_6 i {
	font-size: 20px;
	padding: 2px 5px;
	margin-bottom: 0.3rem;
}
.about_6 hr {
	margin-top: -0.1rem;
}
.about_7 {
	grid-column: 1/ span 3;
	grid-row: 2 / span 2;
}
.about_7 pre {
	font-size: 0.8rem;
	color: var(--fo-bg-color);
}

#projects h1{
    margin-left: 10rem;
}


@media only screen
  and (max-device-width: 768px)
  and (orientation: landscape) {

      .grid2{
    	grid-template-columns: 3fr 5fr 10fr 10fr 5fr !important;
	    grid-template-rows: 50px 100px 100px 100px 300px !important;
  }

  .about_5{
        grid-column: 4 / span 2 !important;
        grid-row: 2 / span 2 !important;
        margin-top: 0 !important;
  }

  .about_2{
    height:55% !important;
  }

  .about_6{
    margin-top: 7rem !important;
  }
}

@media screen and (max-device-width: 970px) and  (orientation: landscape) {
  body {
    overflow: visible;
  }

  .grid2{
    	grid-template-columns: 3fr 5fr 10fr 10fr 5fr !important;
	    grid-template-rows: 50px 100px 100px 100px 300px !important;
  }

  .about_3{
    grid-column: 2 / span 3 !important;
    grid-row: 1 / span 4 !important;
    height: 100%;
    margin-left: 0;

  }
  .about_1{
    height: 140vh !important;
  }
  .about_2{
    margin-left: 0 !important;
    grid-column: 1 / span 3 !important;
    grid-row: 2 / span 4 !important;
    height: 70% ;
  }

  .about_6{
        grid-row: 4 / span 2 !important;
        grid-column: 2 / span 2 !important;
        height: 20% !important;
        width: 70% !important;
        margin-top: 10rem;
        margin-left : 0 !important;
  }

  .about_7{
    display : none;
  }

  .about_5{
    grid-column: 4 / span 2 ;
    grid-row: 3 / span 2 ;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 0;
  }

  .about_5 p{
    font-size:0.9rem !important;
  }
  	.img9{
		grid-column: 1 / span 3;
		grid-row: 3 / span 2;
	}
	.img8{
		width: 70%;
		height: 70%;
		grid-column: 5 / span 3;
		grid-row: 3 / span 2;
	}
	.img8 pre {
		margin-left: 2rem;
	}
	.img10{
		grid-column: 5 / span 3;
		grid-row: 4 / span 2;
		height: 40%;
	}
	.img5 pre{
		font-size: 10px;
		margin-left: -2rem;
	}
	.img6 pre{
		margin-top: 4.5rem;
		font-size: 10px;
		margin-left: -2rem;
	}
	.r_img1 {
		margin-top: 0px !important;
		margin-left: 0 !important;
		grid-column: 1 / span 5;
		grid-row: 3 / span 2;
		position: absolute !important;
	}

	.r_img1 h1{
	    font-size: 4rem !important;
	}
	.r_img3{
		margin-left: 6rem;
		width: 50%;
		height: 30%;
	}
	.r_img2{
		grid-column: 2 / span 2;
		grid-row: 2 / span 1;
		height: 75%;
	}

}

/* Media query of right part of fluid container on landing */
@media screen and (max-width: 768px){
	body{
		scroll: yes;
		overflow: visible;
	}
	h1 {
		font-size: 2rem !important;
	}
	p{
		font-size: 1rem !important;
	}
	pre {
		font-size: .7rem;
	}

	.removeit{
	    display:none;
	}
	#landing{
		margin-bottom: 0 !important;
	}
	.img9{
		grid-column: 1 / span 3;
		grid-row: 3 / span 2;
	}
	.img8{
		width: 70%;
		height: 70%;
		grid-column: 5 / span 3;
		grid-row: 3 / span 2;
	}
	.img8 pre {
		margin-left: 2rem;
	}
	.img10{
		grid-column: 5 / span 3;
		grid-row: 4 / span 2;
		height: 40%;
	}
	.img5 pre{
		font-size: 10px;
		margin-left: -2rem;
	}
	.img6 pre{
		margin-top: 4.5rem;
		font-size: 10px;
		margin-left: -2rem;
	}
	.r_img1 {
		margin-top: 0px !important;
		margin-left: 0 !important;
		grid-column: 1 / span 5;
		grid-row: 3 / span 2;
		position: absolute !important;
	}

	.r_img1 h1{
	    font-size: 4rem !important;
	}
	.r_img3{
		margin-left: 6rem;
		width: 50%;
		height: 30%;
	}
	.r_img2{
		grid-column: 2 / span 2;
		grid-row: 2 / span 1;
		height: 75%;
	}
	.minibio{
		margin-top: 8em;
	}
	.minibio p{
		font-size: 1rem !important;
	}
	.img3{
		grid-column: 5 / span 3;
	}
	.img-bg img{
		opacity: 0 !important;
	}
	.about_1{
		height: 105vh;
		margin-bottom: 0rem;

	}
	.about_4 {
		grid-column: 3 / span 5 ;
		grid-row : 1 / span 2 ;
		height: 40% ;
	}
	.about_2{
		grid-column: 2 / span 2 ;
		grid-row: 2 / span 2 ;
		height: 100% ;
	}
	.about_3 {
        margin-top: 1.5rem;
		grid-column: 1 / span 3 ;
		grid-row: 2 / span 3 ;
	}
	.about_5 {
		grid-column: 1/ span 5 ;
		grid-row: 3 / span 2 ;
		margin-top: 13rem;

	}

	.about_5{
		font-size: 50%;
	}

	.about_6{
		margin-left: -2rem;
		margin-top:10rem;
		grid-column: 3 / span 6 ;
		grid-row: 3/ span 2 ;
		height: 10% ;
		width: 85%;
	}
	.about_6 p{
		font-size: 0.7rem;
	}
	.about_7 {
		display: none;
	}

	#projects h1{
    margin-left: 3rem;
    font-size: 3.2rem;
	}

    #landingpr{
        margin-bottom: 10rem;
    }

    .intro{
        margin-top: 10rem;
    }
}


@media screen and (max-width: 1440px){
	h1{
		font-size: 4.5rem ;
	}
	.about_5 p{
		margin-left: 1rem;
		font-size: 1.1rem;
	}
	.about_7 pre{
		font-size: .6rem;
	}
}
@media screen and (min-width: 970px) and (max-width:1200px){
    body{
        zoom: 67%;
    }
	.about_4 h1{
		font-size: 3.5rem;
	}
	.about_7 h1{
		font-size: 3.4rem;
	}
	.about_1{
		min-height: 100vh;
	}
	.grid2 {
		grid-template-columns: 5fr 10fr 10fr 10fr 10fr 5fr;
		grid-template-rows: 30px 100px 200px 250px 100px 300px;
	}
	.about_5{
		grid-column: 3/ span 5;
		grid-row: 6 / span 1;
	}
	.about_7 pre {
		font-size: 70%;
	}
	.r_img2{
		height: 70%;
	}
	.r_img3{
		margin-left: 9rem;
		height: 25%;
	}
    .tree{
        font-size: 0.5rem;
        padding: 50px;
    }

	.about_1{
	    height: 125vh;
	}

	.about_6{
	    width: 100%
	}
}

.tree {
	display: inline-block;
	margin-top: 20px;
	padding: 30px;
	font-family: 'Roboto Mono', monospace;
	font-size: 0.7rem;
	font-weight: 400;
	line-height: 0.5;
	color: #212529;
}
.tree .fa-folder-open, .tree .fa-folder {
	color: var(--third-bg-color);
}
.tree .fa-html5 {
	color: #f21f10;
}
.tree ul {
	padding-left: 0px;
	list-style: none;
}
.tree ul li {
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tree ul li:before {
	position: absolute;
	top: 15px;
	left: 0;
	width: 10px;
	height: 1px;
	margin: auto;
	content: '';
	background-color: #666;
}
.tree ul li:after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 1px;
	height: 100%;
	content: '';
	background-color: #666;
}
.tree ul li:last-child:after {
	height: 15px;
}
.tree ul a {
	cursor: pointer;
}
.tree ul a:hover {
	text-decoration: none;
}


.box {
  position: relative;
  background: #f2f2f2;
  overflow: hidden;
  margin-bottom: 50px;
  transition: all 0.5s ease-in;

  box-sizing: border-box;
  padding: 30px;
  box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
}


.box p {
  margin: 10px;
  padding: 10px;
  font-size: 1.1rem;
}

.box h2 {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 10%;
  right: 10%;
  font-size: 1.5rem;
}

.box:hover {
  color: #f2f2f2;
  box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);
}


.box.box1:hover,
.box.box1:hover~.bg {
  opacity: 1;
  background: #e2a9e5;
background: -moz-linear-gradient(-45deg, var(--third-bg-color) 15%, var(--fo-bg-color) 100%);
background: -webkit-linear-gradient(-45deg, var(--third-bg-color) 15%, var(--fo-bg-color) 100%);
background: linear-gradient(135deg, var(--third-bg-color) 15%, var(--fo-bg-color) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2a9e5', endColorstr='#2b94e5',GradientType=1 );
}

.box.box2:hover,
.box.box2:hover~.bg {
  opacity: 1;
  background: #632c65;
background: -moz-linear-gradient(-45deg, var(--third-bg-color) 15%, var(--second-bg-color) 100%);
background: -webkit-linear-gradient(-45deg, var(--third-bg-color) 15%, var(--second-bg-color) 100%);
background: linear-gradient(135deg, var(--third-bg-color) 15%, var(--second-bg-color) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#632c65', endColorstr='#56a5e2',GradientType=1 );
}

.box.box3:hover,
.box.box3:hover~.bg {
  opacity: 1;
  background: #4b384c;
background: -moz-linear-gradient(-45deg, var(--third-bg-color) 15%, var(--fo-bg-color) 100%);
background: -webkit-linear-gradient(-45deg, var(--third-bg-color) 15%, var(--fo-bg-color) 100%);
background: linear-gradient(135deg, var(--third-bg-color) 15%, var(--fo-bg-color) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2a9e5', endColorstr='#2b94e5',GradientType=1 );
}


.change{
  transition: all 1.5s ease-in;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.happen2{
background: -moz-linear-gradient(-45deg, var(--third-bg-color) 15%, var(--second-bg-color) 100%);
background: -webkit-linear-gradient(-45deg, var(--third-bg-color) 15%, var(--second-bg-color) 100%);
background: linear-gradient(135deg, var(--third-bg-color) 15%, var(--second-bg-color) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#632c65', endColorstr='#56a5e2',GradientType=1 );
}

.pr{
    margin-bottom: 2rem;

}

.prc{
    background: var(--third-bg-color);
    box-shadow: 10px 10px 5px grey;
}

.prc h1{
    color: var(--main-bg-color);
}

.pr1{
    background: url('/static/img/project1/1.png');
    background-size: cover;
    height: 10rem;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--main-bg-color);
  color: white;
}

.sticky:hover{
    background-color: var(--third-bg-color);
    color: white;
}

